<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.airmonitor">
    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".AirWidgetProvider"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/air_widget_info" />
        </receiver>
    </application>
</manifest>
